01-Activities/01-Console-IO
01-Activities/02-Lists-Dicts-Conditions
01-Activities/03-Functions
01-Activities/04-Classes-and-Objects
01-Activities/05-Controllers
01-Activities/06-Views
01-Activities/07-Models
01-Activities/08-Adding-Fields
01-Activities/09-Formatting-Annotations
01-Activities/10-Validation
01-Activities/11-Search
